.d-item {
    display: flex;
    text-align: center;
    color: var(--surface-0);
    justify-content: space-between;

    .pi {
        font-size: 4em;
        margin-bottom: 15px;
    }

    .name {
        font-size: 1.4em;
    }

    .number {
        margin-top: 50px;
        font-size: 3em;
    }
}

.d-orders {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
}
.d-products {
    background-image: linear-gradient( 68.4deg,  rgba(99,251,215,1) -0.4%, rgba(5,222,250,1) 100.2% );
}
.d-users {
    background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
}
.d-totalsales {
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
}